.swipeOut {
  transform: translateX(-100%);
  opacity: 0;
}

.swipeIn {
  transform: translateX(0);
  opacity: 1;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
